# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Data directory
data/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
